<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/main.css" />
  </head>

  <body>
    <nav>
        <a href="/views/home.html">Home</a> |
        <a href="/views/about.html">About</a> |
        <a href="/views/works.html">Works</a>
    </nav>
    <div class="about">
      <h1>About Kristofer Hivju</h1>

      <h2>Early life</h2>
      <p>
        Hivju was born in Oslo, Norway, on 7 december 1978. He attended the
        Danish subdivision of the Russian Academy of Theatre Arts (GITIS) in
        Aarhus and graduated in 2004.
      </p>

      <h2>Career</h2>
      <p>
        He began of his career and starred in the television series, such as Fox
        Grønland and Seks som oss, in the 2008 film Manhunt, and plays at the
        Grusomhetens Teater and Trøndelag Teater, as well as written scripts for
        the short films Closework from 2005 and Flax from 2008. In the several
        times, he portrays Viking King Olav II in Norwegian-produced documentary
        film Olav, and also appeared in From Hate to Hope. In 2013–2019, Hivju
        had the role of Tormund Giantsbane in American fantasy series Game of
        Thrones by HBO. His first appearance was in the first episode of the
        third season, "Valar Dohaeris". In 2013, he also appeared in M. Night
        Shyamalan's science fiction film After Earth from the same year.
      </p>
      <h2>Personal life</h2>
      <p>
        Hivju is the son of Norwegian actors Erik Hivju and Lieselotte Holmene
        and is the cousin of French actress Isabelle Nanty.[3] He is married to
        Gry Molvær Hivju. Together they have two daughters, Noor (born in 2007)
        and Sylja (born in 2008).[4] Hivju also has great interest in disc golf,
        being an active player and community enforcer. In 2022, Innova Champion
        Discs released Hivju's own signature roc, a mid-range disc golf
        disc.[citation needed]
      </p>
    </div>
  </body>
</html>
