<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/main.css" />
  </head>

  <body>
    <nav>
      <a href="/views/home.html">Home</a> |
      <a href="/views/about.html">About</a> |
      <a href="/views/works.html">Works</a>
    </nav>
    <div class="works">
    <ul>
      <li>2001: Fox Grønland (Fernsehserie, 2 Episoden)</li>
      <img class="image" src="/public/images/fox.jpeg" alt="fox" />
      <li>2007: Størst av alt (Fernsehserie, 6 Episoden)</li>
      <li>2008: Manhunt Backwoods Massacre (Rovdyr)</li>
      <li>2011: The Thing</li>
      <li>2013: After Earth</li>
      <li>2013–2019: Game of Thrones (Fernsehserie, 33 Episoden)</li>
      <img class="image" src="/public/images/got.webp" alt="got" />
      <li>2014: Einer nach dem anderen (Kraftidioten)</li>
      <li>2014: Höhere Gewalt (Turist)</li>
      <li>2014: Operation Arktis (Operasjon Arktis)</li>
      <li>2014: Lilyhammer (Fernsehserie, Episode 3x02)</li>
      <img class="image" src="/public/images/lilyhammer.jpg" alt="lilyhammer" />
      <li>2016: Kommissar Beck – Die neuen Fälle (Fernsehserie)</li>
      <li>2016: The Last King – Der Erbe des Königs (Birkebeinerne)</li>
      <li>2017: Fast & Furious 8 (The Fate of the Furious)</li>
      <li>
        2017: Die Garde der Löwen (The Lion Guard, Fernsehserie, Episode 2x11,
        Stimme)
      </li>
      <li>2019: Twin (Fernsehserie, 8 Episoden)</li>
      <li>2020: Downhill</li>
      <li>2021: The Witcher (Fernsehserie, Episode 2x01)</li>
      <img
        class="image"
        src="/public/images/the_witcher.jpeg"
        alt="the witcher"
      />
      <li>2021: Drei Haselnüsse für Aschenbrödel (Tre nøtter til Askepott)</li>
      <li>2023: Cocaine Bear</li>
      <img class="image" src="/public/images/cocbear.jpg" alt="cocain bear" />
    </ul>
</div>
  </body>
</html>
